/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.font-raleway{
    font-family: "Raleway", sans-serif;
}

/* shared */
.primary-color{
    color: #1DD100;
}

.primary-bg{
    background-color: #1DD100;
}